<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css">
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <title>Aplicação de Eventos</title>
</head>

<body>

    <header>

        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Cadastro de Eventos</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">

                    <li> <a class="waves-effect waves-light btn" th:href="@{'/eventos'}"> <em
                                class="material-icons left">format_list_bulleted</em> Lista de Eventos</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">


        <div>
            <form class="contanier" th:action="@{'/cadastrar'}" method="post">


                <div th:if="${mensagem}" th:text="${mensagem}"></div>
                <div class="row">
                    <div th:if="${evento}" class="input-field col s12">
                        <label for="id">Codigo</label>
                        <input type="text" name="id" id="idId" placeholder="" th:value="${evento?.id}" disabled>
                    </div>
                    <div class="input-field col s12">
                        <label for="idNome">Nome</label>
                        <input type="text" name="nome" id="idNome" placeholder="Nome" th:value="${evento?.nome}">
                    </div>
                    <div class="input-field col s6">
                        <label for="idLocal">Local</label>
                        <input type="text" name="local" id="idLocal" placeholder="Local" th:value="${evento?.local}">
                    </div>
                    <div class="input-field col s3">
                        <label for="idData">Data</label>
                        <input type="date" name="data" id="idData" placeholder="Data" th:value="${evento?.data}">
                    </div>
                    <div class="input-field col s3">
                        <label for="idHorario">Horário</label>
                        <input type="time" name="horario" id="idHorario" placeholder="Horário"
                            th:value="${evento?.horario}">
                    </div>
                    <button class="btn waves-effect waves-light filter_list" type="submit"> Salvar </button>
                </div>
            </form>
        </div>


    </main>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>